<%= form_for(content) do |f| %>
    <% if content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

          <ul>
            <% content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div id="fileUpload"></div>
<% end %>

<button type="submit" id="save">Save</button>

<script>

  $(document).ready(function () {

    var fileUpload = $("#fileUpload").uploadFile({
      url: "/contents",
      multiple: false,
      fileName: "content[attachment]",
      autoSubmit: false,
      showCancel: false,
      showAbort: false,
      dragDrop: true,
      maxFileCount: 1,
      showPreview: true,
      showProgress: true,
      showStatusAfterSuccess: true,
      dynamicFormData: function () {
        var name = $('#content_name').val();
        var data = {"content[name]": name};
        return data;
      }
    });

    $("#save").click(function (e) {
      $("#save").prop("disabled", true);
      fileUpload.startUpload();
      e.preventDefault();
    });


  });

</script>